// 支持通过 CSS 或 SCSS 语法放置自己的样式以对主题的外观进行自定义

// 主页背景
html {
  /*background: #fff0 url(/bg00.png) repeat top center !important;*/
}

html::before {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: url(/bg00.png) repeat top left;
  background-size: 15.625rem 15.625rem;
  /*z-index: 999;*/
  pointer-events: none;
}

// 主页项目排列方式，改为靠左排列
.vp-features {
  place-content: stretch left;
}

// 主页项目
.vp-feature-item {
}

// 主页项目鼠标经过时→箭头
.vp-feature-item.link:hover::before {
  content: unset !important;
}

// 主页项目内容省略
.vp-feature-details {
  max-height: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// 主页项目gitee入口
.project-gitee-entry {
  margin: 0.25rem 0 0.5rem; /* 设置跟 h3 标题一样的 margin 值 */
  float: inline-end;
  width: 22px;
  height: 22px;
}
.project-gitee-entry > a {
  display: inherit;
  height: inherit;
}

// 主页感谢弹窗
#resumeThanksDialogMask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 14px;
  background: rgba(0, 0, 0, .5);
  z-index: 10010;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#resumeThanksDialogEntry {
  position: absolute;
  left: 0;
  top: -20vh;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10010;
  width: max-content;
  height: max-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

}
#resumeThanksDialogMsg {
  font-size: 24px;
}
#resumeThanksDialogEmoji {
  font-size: 18px;
  margin: 20px 0 10px 0;
}
#resumeThanksDialogBtn {
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: max-content;
  height: 40px;
  margin: 5px;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  background: #00aeec;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
